<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projet1-37</title>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>
    <body>
        <div id="app">

            <p> Quel langage de programmation connaissez vous ?</p>
            <input value type="text" v-model="langage" />
            <button type="button" @click="ajouter">Valider</button>
            <br/>
             <div v-for="langage in langages">
                <input type="checkbox" v-model="langage.etat"/>
                {{langage.name}}
                <span v-if="langage.etat"> Est coché</span>
                <span v-else> Est décoché</span>
             </div>
        </div>
        <script>
        const app = Vue.createApp({
            data() {
                return {
                langage:'',
                langages : []
            }},
            methods: {
               
                ajouter()
                {
                    this.langages.push({
                        name: this.langage,
                        etat : false
                    });
                }
            }
            
        });
        app.mount('#app');

    </script>
    </body>
</html>